//areas of practice, dwi defense, criminal law, family law
.page-id-12, .page-id-391, .page-id-21, .page-id-20, .page-id-1577 {
    .areas-banner {
        .elementor-widget-heading .elementor-heading-title {
            font-family: $vollkorn;
            font-weight: 900;
            font-size: 66px;
            line-height: 85px;
            margin: 18px 0 0 30px;
            color: $white;

            @media screen and (max-width: 1780px) {
                font-size: 3.66vw;
                line-height: 4.72vw;
                margin: 1vw 0 0 1.66vw;
            }

            @media screen and (max-width: 768px) {
                font-size: 28px;
                line-height: 35px;
            }
        }
    }

    .areas-inner {
        .elementor-heading-title {
            font-family: $vollkorn !important;
            font-weight: bold !important;
            font-size: 34px !important;
            line-height: 46px !important;
            color: $black !important;
            margin-top: 30px;

            @media screen and (max-width: 1024px) {
                font-size: 28px;
                line-height: 38px;
            }
    
            @media screen and (max-width: 768px) {
                font-size: 24px !important;
                line-height: 29px !important;
                margin-top: 18px !important;
            }
    
            @media screen and (max-width: 374px) {
                font-size: 18px !important;
                line-height: 25px !important;
                margin-top: 12px !important;
            }

            .custom-hr {
                margin-top: 12px;

                @media screen and (max-width: 1780px) {
                    margin-bottom: 8px;
                }
        
                @media screen and (max-width: 768px) {
                    margin-bottom: 0;
                }
            }
        }

        p, li {
            text-align: center;
            font-family: $vollkorn;
            font-size: 26px;
            line-height: 34px;
            margin-bottom: 16px;

            @media screen and (max-width: 1024px) {
                font-size: 22px;
                line-height: 28px;
            }
    
            @media screen and (max-width: 768px) {
                font-size: 18px;
                line-height: 24px;
                margin-bottom: 18px;
            }
    
            @media screen and (max-width: 374px) {
                font-size: 15px;
                line-height: 21px;
                margin-bottom: 15px;
            }

            a {
                color: $brown;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        ul {
            list-style: none;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            height: 350px;
            margin-left: 0;

            @media screen and (max-width: 1024px) {
                height: 310px;
                margin-bottom: 0;
            }
    
            @media screen and (max-width: 959px) {
                height: auto;
                margin-top: 0;
            }

            @media screen and (max-width: 768px) {
                margin-top: -20px;
            }
        }

        li {
            font-weight: 600;
            line-height: 33px;

            @media screen and (max-width: 1024px) {
                line-height: 28px;
            }
    
            @media screen and (max-width: 768px) {
                line-height: 20px;
            }
    
            @media screen and (max-width: 374px) {
                line-height: 16px;
            }
        }
    }
}

//dwi defense only
.page-id-391 {
    .elementor-section.elementor-section-boxed.elementor-element-dd7e416>.elementor-container {
        max-width: 100% !important;
        height: 350px;

        @media screen and (max-width: 1200px) {
            height: 26.4vw;
            min-height: 200px;
        }
    }

    .elementor-391 .elementor-element.elementor-element-dd7e416:not(.elementor-motion-effects-element-type-background) {
        @media screen and (min-width: 1450px) {
            background-position: top -2.76vw center;
        }
    }

    .elementor-section.elementor-section-boxed.elementor-element-5bd463e>.elementor-container {
        max-width: 1200px !important;

        &.elementor-column-gap-default>.elementor-row>.elementor-column>.elementor-element-populated {
            padding: 10px 20px 54px;

            @media screen and (max-width: 768px) {
                padding: 10px 20px 27px;
            }
    
            @media screen and (max-width: 374px) {
                padding: 10px 20px 20px;
            }
        }
    }

    .elementor-section.elementor-section-boxed.elementor-element-d939efd>.elementor-container {
        max-width: 1200px !important;

        &.elementor-column-gap-default>.elementor-row>.elementor-column>.elementor-element-populated {
            @media screen and (max-width: 1780px) {
                padding: 10px 20px;
            }

            @media screen and (max-width: 768px) {
                padding: 10px 20px;
            }
    
            @media screen and (max-width: 374px) {
                padding: 10px 20px;
            }
        }
    }

    .custom-hr {
        width: 63%;
    }
}

//criminal law only
.page-id-21 {
    .elementor-section.elementor-section-boxed.elementor-element-6746c3b>.elementor-container {
        max-width: 100% !important;
        height: 350px;

        @media screen and (max-width: 1200px) {
            height: 26.4vw;
            min-height: 200px;
        }
    }

    .elementor-section.elementor-section-boxed.elementor-element-9e22060>.elementor-container {
        max-width: 1200px !important;

        &.elementor-column-gap-default>.elementor-row>.elementor-column>.elementor-element-populated {           padding: 10px 20px 54px;

            @media screen and (max-width: 768px) {
                padding: 10px 20px 27px;
            }
    
            @media screen and (max-width: 374px) {
                padding: 10px 20px 20px;
            }
        }
    }

    .elementor-21 .elementor-element.elementor-element-0a1d1d7 > .elementor-widget-container {
        margin: 0;
    }

    .custom-hr {
        width: 70%;
    }
}

//family law only
.page-id-20 {
    .elementor-section.elementor-section-boxed.elementor-element-3107607>.elementor-container {
        max-width: 100% !important;
        height: 350px;

        @media screen and (max-width: 1200px) {
            height: 26.4vw;
            min-height: 200px;
        }
    }

    .areas-banner {
        .elementor-widget-heading .elementor-heading-title {
            color: #787a7e;
        }
    }

    .elementor-section.elementor-section-boxed.elementor-element-77600a3>.elementor-container {
        max-width: 1200px !important;

        &.elementor-column-gap-default>.elementor-row>.elementor-column>.elementor-element-populated {           padding: 10px 20px 54px;

            @media screen and (max-width: 768px) {
                padding: 10px 20px 27px;
            }
    
            @media screen and (max-width: 374px) {
                padding: 10px 20px 20px;
            }
        }
    }

    .areas-inner {
        ul {
            height: 540px;

            @media screen and (max-width: 1024px) {
                height: 490px;
            }
    
            @media screen and (max-width: 959px) {
                height: auto;
            }
        }
    }

    .custom-hr {
        width: 63%;
    }
}

//mediation only
.page-id-1577 {
    @media screen and (max-width: 1200px) {
        .elementor-section.elementor-section-boxed.elementor-element-d427bc9 {
            background-size: cover;
        }
    }

    .elementor-section.elementor-section-boxed.elementor-element-d427bc9>.elementor-container {
        max-width: 100% !important;
        height: 350px;

        @media screen and (max-width: 1200px) {
            height: 30.4vw;
            min-height: 200px;
        }
    }

    .areas-banner {
        .elementor-widget-heading .elementor-heading-title {
            color: #787a7e;
        }
    }
}