.page-id-19 {
    .elementor-19 .elementor-element.elementor-element-767e94cf > .elementor-container {
        max-width: 1800px;
        padding: 40px 20px 80px;

        @media screen and (max-width: 1780px) {
            padding: 2vw 20px 4.49vw;
        }

        @media screen and (max-width: 1300px) {
            padding-top: 3vw;
        }

        @media screen and (max-width: 959px) {
            padding-top: 10px; 
        }

        @media screen and (max-width: 768px) {
            padding: 0 20px 40px;
        }

        .elementor-element.elementor-element-7c20e9aa {
            .elementor-custom-embed {
                display: flex;
                justify-content: flex-end;
            }

            iframe {
                width: 400px;
            }
        }
    }

    .elementor-19 .elementor-element.elementor-element-7c20e9aa > .elementor-widget-container {
        margin: 0;
    }

    .elementor-19 .elementor-element.elementor-element-72fac1d1 {
        max-width: 1800px;
        padding: 40px 20px 80px;
        margin: 0 auto;

        @media screen and (max-width: 1780px) {
            padding: 2vw 20px 4.49vw;
        }

        @media screen and (max-width: 1300px) {
            padding-top: 3vw;
        }

        @media screen and (max-width: 959px) {
            padding-top: 10px; 
        }

        @media screen and (max-width: 768px) {
            padding: 0 20px 40px;
        }
    }

    .elementor-19 .elementor-element.elementor-element-72fac1d1 > .elementor-container {
        max-width: 1800px;
    }



    .contact-header {
        color: $black;
        font-size: 37px;
        line-height: 39px;
        font-family: $vollkorn;
        font-weight: bold;
        border-bottom: 5px solid $brown;
        padding: 0 8px 0 0;
        display: inline-block;
        margin-bottom: 35px;

        @media screen and (max-width: 1200px) {
            font-size: 3.08vw;
            line-height: 3.25vw;
            margin-bottom: 2.92vw;
        }

        @media screen and (max-width: 768px) {
            font-size: 23px;
            line-height: 25px;
            margin-bottom: 22px;
        }
    }

    .contact-phone, .contact-email-address {
        color: $black;
        font-size: 32px;
        line-height: 38px;
        font-family: $vollkorn;

        @media screen and (max-width: 1200px) {
            font-size: 2.67vw;
            line-height: 3.17vw;
        }

        @media screen and (max-width: 768px) {
            //left off heres
        }
    }

    .contact-phone {
        margin-bottom: 20px;

        @media screen and (max-width: 1200px) {
            margin-bottom: 1.67vw;
        }
    }

    .contact-email-address {
        margin-bottom: 80px;

        @media screen and (max-width: 1200px) {
            margin-bottom: 6.67vw;
        }
    }

    .contact-subheader {
        color: $black;
        font-size: 32px;
        line-height: 38px;
        font-family: $vollkorn;
        font-weight: bold;

        @media screen and (max-width: 1200px) {
            font-size: 2.67vw;
            line-height: 3.17vw;
        }
    }

    .contact-address {
        color: $black;
        font-size: 27px;
        line-height: 32px;
        font-family: $vollkorn;
        margin-bottom: 20px;

        @media screen and (max-width: 1200px) {
            font-size: 2.25vw;
            line-height: 2.67vw;
            margin-bottom: 1.67vw;
        }
    }
}