//global
body {
    &.sidr-open {
        top: 0;
    }

    //breadcrumbs area
    .page-header {
        display: none;
    }

    .custom-hr {
        border: 0;
        border-top: 5px solid $brown; 
        width: 78%;
        margin: 23px auto 20px;

        @media screen and (max-width: 959px) {
            border-top: 4px solid $brown;
        }

        @media screen and (max-width: 450px) {
            border-top: 3px solid $brown;
        }
    }

    a:hover {
        color: $brown;
    }

    #scroll-top {
        border-radius: 50%;

        &:hover {
            background-color: $brown;
        }

        > span {
            margin-top: -1px;
        }

        @media screen and (max-width: 480px) {
            width: 40px;
            height: 40px;
            right: 20px;
            bottom: 20px;
            line-height: 40px;
            font-size: 14px;
        }
    }

    input[type="submit"] {
        background-color: $brown;

        &:hover {
            background-color: darken($brown, 10%);
        }
    }

}

//header 
.page, .search, .single-post {

    #site-logo {
        float: none; 
        height: auto;
        display: block;
    }

    #site-logo #site-logo-inner {
        height: auto;
    }

    #site-logo #site-logo-inner a img {
        max-width: 275px;

        @media screen and (max-width: 1320px) {
            max-width: 225px;
        }

        @media screen and (max-width: 959px) {
            max-width: 185px;
        }

        @media screen and (max-width: 360px) {
            max-width: 150px;
        }
    }

    #site-header-inner {
        padding: 25px 61px 22px 36px;
        display: flex;
        justify-content: space-between;

        @media screen and (max-width: 1320px) {
            padding: 22px 36px;
        }

        @media screen and (max-width: 959px) {
            padding: 16px 20px;
        }

        @media screen and (max-width: 450px) {
            padding: 10px 15px;
        }

        &:after {
            content: '';
            display: none;
        }
    }

    #site-navigation-wrap {
        float: none;
        position: static;
        right: initial;
        display: flex;
        align-items: flex-end;
    }

    #site-navigation-wrap .dropdown-menu > li > a, 
    #site-header.full_screen-header .fs-dropdown-menu > li > a, 
    .oceanwp-mobile-menu-icon a {
        font-size: 26px;
        line-height: 36px;
        letter-spacing: 0;
        text-transform: uppercase;
        color: $black;
        padding: 0;

        @media screen and (max-width: 1240px) {
            font-size: 21px;
            line-height: 29px;
        }
    }

    #site-navigation-wrap .dropdown-menu > li > a:hover, 
    .oceanwp-mobile-menu-icon a:hover, 
    #searchform-header-replace-close:hover,
    .sidr a:hover, 
    .sidr-class-dropdown-toggle:hover, 
    .sidr-class-menu-item-has-children.active > a,
    .sidr-class-menu-item-has-children.active > a > .sidr-class-dropdown-toggle {
        color: $brown;
    }

    .page .oceanwp-mobile-menu-icon a {
        @media screen and (max-width: 1240px) {
           line-height: 21px;;
        }
    }

    #site-navigation-wrap .dropdown-menu > li {
        padding: 0 35px;

        @media screen and (max-width: 1460px) {
            padding: 0 20px;
        } 

        @media screen and (max-width: 1100px) {
            padding: 0 14px;
        }
    }

    .sf-menu ul.sub-menu {
        background-color: $white;
        margin-left: 35px;
        top: 110%;

        @media screen and (max-width: 1460px) {
            margin-left: 20px;
        }

        @media screen and (max-width: 1100px) {
            margin-left: 14px;
        }
    }

    #site-navigation-wrap .dropdown-menu > li:last-child {
        padding-right: 0;
    }

    #site-navigation-wrap .dropdown-menu > li > a .nav-arrow {
        font-size: 24px;
        padding-left: 0;
        position: relative;
        top: -2px;

        @media screen and (max-width: 1700px) {
            font-size: 20px;
            top: 0;
        }
    }

    .oceanwp-mobile-menu-icon.mobile-right {
        float: none;

        @media screen and (max-width: 959px) {
            display: flex;
            align-items: center;
        }
    }

    .sidr-class-dropdown-menu li a, 
    .sidr-class-fs-dropdown-menu li a {
        text-transform: uppercase;
    }

    .sidr a {
        color: $black;
    }

    a.sidr-class-toggle-sidr-close {
        line-height: 10px;
    }

    .sidr-class-mobile-searchform button {
        top: 7px;
        right: 6px;
        margin-top: 0;
    }

    .sidr-class-dropdown-toggle {
        top: -3px;
    }

    .sidr-class-dropdown-menu ul a:before {
        display: none;
    }

    .sidr-class-text-wrap {
        padding-top: 2px;
        display: inline-block;
    }

    .sidr-class-sub-menu {
        .sidr-class-text-wrap {
            padding-left: 20px;
        }
    }

    .dropdown-menu .sub-menu {
        border-top: 3px solid $mint;
        min-width: 230px;
    }

    .dropdown-menu ul li a.menu-link {
        text-transform: uppercase;
        font-size: 18px;
    }

    .dropdown-menu ul li a.menu-link .text-wrap {
        display: inline-block;
        padding-top: 3px;
    }
}

//global contact form 
.page, .single-post {
    .elementor-form-fields-wrapper {
        position: relative;

        & > .elementor-field-type-html.elementor-field-group {
            position: absolute;
            width: 207px;
            margin-left: -227px;
            margin-bottom: 0 !important;

            @media screen and (max-width: 1024px) {
                position: static;
                width: auto;
                margin: 0 auto;
            }

            .contact-form-header {
                .contact-form-header-copy {
                    font-family: $vollkorn;
                    font-weight: bold;
                    color: $white;
                    font-size: 31px;
                    line-height: 42px;
                    margin-bottom: 5px;
                    text-align: center;

                    @media screen and (max-width: 1275px) {
                        text-shadow: 1px 1px 2px rgba(0,0,0,0.25);
                    }

                    @media screen and (max-width: 450px) {
                        font-size: 27px;
                        line-height: 37px;
                    }
                }
        
                .contact-form-header-image {
                    width: 140px;
                    display: block;
                    margin: 0 auto 36px;

                    @media screen and (max-width: 450px) {
                        width: 125px;
                    }
                }
            }
        }
    }

    .elementor-form {
        .elementor-field-label {
            font-family: $vollkorn;
            font-weight: bold;
            font-style: italic;
            color: #6e6e6e !important;
            position: absolute;
            font-size: 18px !important;
            line-height: 30px;
            top: 15px;
            left: 18px;
            transition: all 500ms;

            @media screen and (max-width: 450px) {
                top: 10px;
                left: 22px;
            }

            &.with-text {
                top: -25px;
                left: 10px;
                font-size: 18px !important;
                color: white !important;
                transition: all 500ms;
                text-shadow: 1px 1px 2px rgba(0,0,0,0.25);
            }
        }

        .elementor-mark-required .elementor-field-label:after {
            content: '';
            display: none;
        }

        .elementor-field {
            border: none !important;
            background-color: rgba(255,255,255,0.92) !important;
            width: 100%;
            max-width: 524px !important;
            border-radius: 0;
            height: 58px;
            font-family: $vollkorn;
            font-weight: bold;
            font-style: italic; 
            font-size: 18px !important;
            line-height: 58px;
            color: $gray !important;
            padding-left: 14px !important;

            @media screen and (max-width: 450px) {
                height: 45px;
                font-size: 16px !important;
                padding-left: 14px !important;
                max-width: 100% !important;
            }
        }

        textarea.elementor-field {
            height: 156px;
            padding-top: 16px !important;
            padding-bottom: 16px !important;

            @media screen and (max-width: 450px) {
                height: 132px;
            }
        }

        .elementor-field-group {
            position: relative;
            margin-bottom: 26px !important;
        }

        .elementor-button {
            border-radius: 15px;
            background-color: $white !important;
            color: #000 !important;
            width: 165px;
            height: 60px;
            font-family: $vollkorn;
            font-weight: 900;
            font-size: 18px;
            line-height: 60px;
            letter-spacing: 0;

            @media screen and (max-width: 450px) {
                width: 155px;
                height: 45px;
                line-height: 47px;
            }

            .elementor-button-icon {
                display: none;
            }
        }
    }

    .elementor-widget-form {
        margin: 25px auto 10px;
        max-width: 524px !important;
    }

    .elementor-widget-form + .elementor-widget-text-editor p {
        font-size: 15px;
        line-height: 21px;
        color: $gray;
        text-align: center;
        display: block;
        margin: 0 auto 20px;
        text-align: center;
        font-family: 'Minion Pro', serif; 
        max-width: 555px;
    }
}

//footer
.page, .search, .single-post {

    .site-footer {
        margin-top: -2px;
    }
    
    #footer-widgets {
        padding: 0;
    }

    #footer-widgets .footer-box {
        padding: 27px 20px 20px;
    }

    #footer-widgets .footer-box .footer-widget {
        margin-bottom: 0;
    }

    #footer-widgets .col {
        @media screen and (max-width: 959px) {
            margin-bottom: 0;
        }
    }

    .footer-widgets-inner.container {
        width: 100%;
        max-width: 100%;
    }

    //address
    .footer-box.span_1_of_2.col-1 {
        width: 100%;
        position: relative;
    }

    .footer-box.span_1_of_2.col-2 {
        display: none;
    }

    .footer-logo {
        display: block;
        margin: 0 auto 20px;
        width: 240px;
    }

    .footer-address { 
        font-size: 18px;
        line-height: 22px;
        text-align: center !important;
        margin-bottom: 0;
        
        .footer-phone {
            font-size: 16px;
            line-height: 16px;
            display: block; 

            a {
                color: $black;
            }
        }
    }

    //social 
    .footer-widget.social-widget {
        width: 160px;
        position: absolute;
        bottom: 12px;
        right: 30px;

        @media screen and (max-width: 850px) {
            position: static;
            margin: 20px auto;
            display: block;
        }
    }

    .footer-widget.social-widget ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #footer-widgets .social-widget li {
        &.oceanwp-facebook {
            a {
                background: url('https://lawofficesofcp.com/wp-content/uploads/2020/06/fb.svg') no-repeat top center;
                width: 40px;
                height: 44.5px;
            }
        }

        &.oceanwp-instagram {
            a {
                background: url('https://lawofficesofcp.com/wp-content/uploads/2020/06/insta.svg') no-repeat top center;
                width: 40px;
                height: 44.5px;
            }
        }

        &.oceanwp-yelp {
            a {
                background: url('https://lawofficesofcp.com/wp-content/uploads/2020/06/yelp.svg') no-repeat top center;
                width: 37px;
                height: 49px;
            }
        }
    }

    #footer-widgets .social-widget li a i {
        display: none;
    }
}