.page-id-8 {
    //banner image container
    .elementor-8 .elementor-element.elementor-element-328fc529 {
        background-position: top -82px center !important;
        height: 600px;

        @media screen and (max-width: 1780px) {
            background-position: top -4.6vw center !important;
            height: 38.7vw;
        }

        @media screen and (max-width: 450px) {
            background-position: top center !important;
            min-height: 200px;
        }
    }

    //banner header container
    .elementor-8 .elementor-element.elementor-element-328fc529 > .elementor-container {
        max-width: 100% !important;
        margin-left: 53px;

        @media screen and (max-width: 1780px) {
            margin-left: 2.6vw;
        }
    }

    //another banner header container
    .elementor-8 .elementor-element.elementor-element-3b7b4541 > .elementor-element-populated {
        padding: 49px 0 0 0;

        @media screen and (max-width: 1780px) {
            padding-top: 2.75vw;
        }

        @media screen and (max-width: 640px) {
            padding-top: 20px;
        }
    }

    .home-header {
        .elementor-heading-title {
            font-family: $vollkorn !important;
            font-weight: 900 !important;
            text-shadow: none !important;
            letter-spacing: 0 !important;
        }

        &-small {
            font-size: 60px;
            line-height: 83px;
            display: block;

            @media screen and (max-width: 1780px) {
                font-size: 3.37vw;
                line-height: 4.67vw;
            }
        }

        &-large {
            text-transform: initial;
            font-size: 99px;
            line-height: 137px;
            display: block;
            margin-top: -28px;
            margin-left: 114px;

            @media screen and (max-width: 1780px) {
                font-size: 5.56vw;
                line-height: 7.7vw;
                margin-top: -1.57vw;
                margin-left: 6.4vw;
            }
        }
    }

    //banner subheader container
    .elementor-8 .elementor-element.elementor-element-e467a19 > .elementor-widget-container {
        box-shadow: none !important;
    }

    .home-subheader {
        margin-top: 125px;

        @media screen and (max-width: 1780px) {
            margin-top: 7vw;
        }

        .elementor-heading-title { 
            font-size: 54px !important;
            line-height: 67px !important;
            font-family: $vollkorn !important;
            font-weight: 900 !important;
            color: $brown !important;
            text-shadow: none !important;
            letter-spacing: 0 !important;
            text-transform: none !important;
            padding-right: 28px;

            @media screen and (max-width: 1780px) {
                font-size: 3.65vw !important;
                line-height: 4.49vw !important;
            }

            @media screen and (max-width: 450px) {
                font-size: 15px !important;
                line-height: 19px !important;
            }
        }
    }

    //home summary container
    .elementor-element-b29ea0c.elementor-section.elementor-section-boxed > .elementor-container {
        max-width: 1200px !important;
        padding: 35px 15px 0;

        @media screen and (max-width: 1780px) {
            padding-top: 2vw;
        }

        @media screen and (max-width: 1200px) {
            max-width: 800px !important;
        }
    }

    .home-summary {
        p {
            font-family: $vollkorn;
            font-size: 32px;
            line-height: 42px;
            font-style: italic;
            margin: 0;

            @media screen and (max-width: 1780px) {
                font-size: 1.8vw;
                line-height: 2.35vw;
            }

            @media screen and (max-width: 1024px) {
                font-size: 19px;
                line-height: 26px;
            }
        }
    }

    .elementor-8 .elementor-element.elementor-element-63e218a,
    .elementor-element-bdb2efd {
        display: none;
    }

    .home-icon-middle {
        img {
            width: 180px;
            margin-top: 20px;
            margin-bottom: 33px;

            @media screen and (max-width: 959px) {
                width: 156px;
            }

            @media screen and (max-width: 768px) {
                margin-top: 25px;
                margin-bottom: 33px;
            }

            @media screen and (max-width: 450px) {
                width: 125px;
                margin-top: 5px;
                margin-bottom: 15px;
            }
        }
    }

    .elementor-element-3201296 {
        padding-bottom: 30px;

        @media screen and (max-width: 768px) {
            padding-bottom: 20px;
        }
    }

    .elementor-8 .elementor-element.elementor-element-5261f6f,
    .elementor-8 .elementor-element.elementor-element-bbfcb10 {
        @media screen and (max-width: 768px) {
            margin-bottom: 10px !important;
        }
    }

    .elementor-element-3201296 .elementor-row {
        flex-direction: column;

        .elementor-col-50 {
            width: 100%;
        }

        .elementor-element-184fe4a {
            margin-bottom: 30px;

            @media screen and (max-width: 1780px) {
                margin-bottom: 1.69vw;
            }

            @media screen and (max-width: 768px) {
                margin-bottom: 20px;
            }
        }
    }

    .home-lists {
        .elementor-heading-title {
            font-family: $vollkorn !important;
            font-size: 34px !important;
            line-height: 50px !important;
            font-weight: bold;
            color: $black;
            margin-bottom: 10px;

            @media screen and (max-width: 1780px) {
                font-size: 1.91vw !important;
                line-height: 2.8vw !important;
            }

            @media screen and (max-width: 1024px) {
                line-height: 36px !important;
                margin-bottom: 5px;
            }

            @media screen and (max-width: 768px) {
                font-size: 20px !important;
                line-height: 28px !important;
                margin-bottom: 0;
            }

            @media screen and (max-width: 374px) {
                font-size: 18px !important;
                line-height: 25px !important;
            }
        }

        .elementor-text-editor {
            text-align: center !important;
            font-family: $vollkorn !important;
            font-size: 30px !important;
            line-height: 40px !important;
            color: $black;

            @media screen and (max-width: 1780px) {
                font-size: 1.85vw !important;
                line-height: 2.25vw !important;
            }

            @media screen and (max-width: 768px) {
                font-size: 19px !important;
                line-height: 26px !important;
            }

            @media screen and (max-width: 374px) {
                font-size: 15px !important;
                line-height: 22px !important;
            }

            p {
                margin-bottom: 0 !important;
            }
        }

        .separator {
            color: $mint;
        }

        .elementor-element.elementor-element-a0fdf67 > .elementor-widget-container {
            margin: 0 !important;
        }
    }

    .elementor-8 .elementor-element.elementor-element-0f7ac26,
    .elementor-8 .elementor-element.elementor-element-df47d7e {
        display: none !important;
    }
}