@charset "utf-8";

/* Fonts */
//installed in wordpress site

/* Variables */
$vollkorn: 'Vollkorn', serif;
$white: #fff;
$brown: #f0c122;
$black: #2b2e34;
$mint: #88d4ab;
$gray: #8B8D91;
$lightgray: #e7e8e9;

/* Partials */ 

@import "_global";
@import "_about";
@import "_areas-of-practice";
@import "_contact";
@import "_home";
@import "_news-articles";
@import "_news"; 
@import "_search-results"; 