@charset "utf-8";

/* Fonts */



/* Variables */
$vollkorn: 'Vollkorn', serif;
$white: #fff;
$brown: #d9a460;
$black: #2b2e34;
$mint: #88d4ab;
$gray: #8B8D91;
$lightgray: #e7e8e9;

/* Partials */ 

@import "_global";
@import "_about";
@import "_areas-of-practice";
@import "_contact";
@import "_criminal-law";
@import "_dwi-defense";
@import "_family-law";
@import "_home";
@import "_news-articles";
@import "_news"; 